.block-post_slides {
  margin-bottom: 0;
  margin-left: 300px;
  @extend .clearfix;

  .layout-content {
    width: 675px;
    height: 450px;
    position: relative;

    @media only screen and (max-width: 675px) {
      width: 100%;
    }

    @media #{$bp-mobile} {
      height: 350px;
    }
  }

  h3 {
    @include h3-style();
    text-align: center;
  }

  .slick-track {
    position: relative;
  }

  .slide {
    height: 450px;
    margin-bottom: 0;
    float: left;
    position: relative;
    border-right: 2px solid white;
    display: flex;
    align-items: center;

    @media #{$bp-tab} {
      width: 50%;
    }

    @media #{$bp-mobile} {
      width: 100%;
      height: 350px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    &.slick-active {
      &::after {
        display: none;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index:1;
      background-color: black;
      opacity: .5;
    }
  }

  .slide-inner {
    max-width: 100%;
  }

  .slide-info {
    width: 500px;
    padding: 40px;
    position: relative;
    z-index: 1;

    background: -moz-linear-gradient(45deg,  rgba(23,54,84,1) 0%, rgba(23,54,84,0.6) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(23,54,84,1) 0%,rgba(23,54,84,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(23,54,84,1) 0%,rgba(23,54,84,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    h4 {
      color: white;
      padding-top: 0;
      line-height: 1;
    }
    .content {
      color: white;
      font-size: 15px;
      line-height: 20px;

      * {
        color: white;
        font-size: 15px;
        line-height: 20px;
      }
    }

    @media #{$bp-tab} {
      max-width: 85%;
      padding: 20px;
    }
  }

  .slide-image {
    width: 100%;
    max-width: 100%;

    @media only screen and (max-width: 675px) {
      height: 100% !important;
      width: auto !important;
      max-width: none !important;
    }
  }

  .title {
    @include h5-style();

    padding-top: $top-padding;
  }

  .slide-link {
    a {
      margin-bottom: 0;
    }
  }

  .content {
    margin-bottom: $element-spacing;
  }

  .slick-next {
    background: url(../../image/Arrow-Right-Slider.svg) no-repeat;
    background-size: 30px 60px;
    width: 30px;
    height: 60px;
    @include vertical-align($position: absolute);
    right: -90px;
    -webkit-appearance: none;
    border: 0;
    z-index: 3;

    @media #{$bp-tab-sm} {
      display: none !important;
    }
  }

  .slick-prev {
    display: none !important;
  }

  .slick-list {
    
    @media only screen and (max-width: 675px) {
      overflow: hidden;
    }
  }

  // Collapse on mobile and remove border
  @media #{$bp-tab} {
    margin-left: -20px;
    margin-right: -20px;
  }
}