body{
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: visible;
  max-width: 100vw;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
.module {
  clear: both;
  margin-bottom: $block-padding;
}
.site-main {
  @extend .default-grid;

  img {
    max-width: 100%;
    height: auto;
  }
}
.entry-header {
  margin-left: 300px;

  @media #{$bp-tab} {
    margin-left: -20px;
    margin-right: -20px;
  }
}
.entry-content {
  // For tables to scroll right
  overflow-x: auto;
}
.files-and-links, article.page {
  margin-left: 400px;

  @media #{$bp-tab} {
    margin-left: 0;
  }
}
article.page {
  margin-top: 40px;
}

// Block Level Elements (for uniform margin)
// See: https://developer.mozilla.org/en-US/docs/HTML/Block-level_elements
address,figcaption,ol,article,figure,output,aside,
p,audio,form,pre,h1,h2,h3,h4,h5,h6,canvas,table,
dd,hgroup,tfoot,hr,ul,dl,video,fieldset,noscript {
    margin: 0 0 $element-spacing 0;
}
p{
	@include default-font;
}
// Generally used as containers
section, header, footer, blockquote {
    margin: 0;
}

// Lists
ul,ol {
    padding: 0;

    li {
        padding: 0;
    }
}

dl {
    padding: 0;

    dd {
        padding: 0;
    }
}
