html {
  @include default-font();
}

// Copy & Lists 
.site-main {
  article {
    p {
      &.p-small {
        font-size: 14px;
        line-height: 24px;
        color: $dark-grey;
      }

      &.p-large {
        font-size: 30px;
        line-height: 40px;
      }
    }

    ul {
      list-style: none;
      padding-left: 50px;

      li {

        &::before {
          content: '\2022';
          display: block;
          position: relative;
          max-width: 0;
          max-height: 0;
          left: -30px;
          top: 0;
          color: $medium-grey;
        }
      }
    }

    ol {
      padding-left: 50px;
    }

    ul ul,
    ol ul,
    ul ol,
    ol ol {
      margin-top: 0;
      margin-bottom: 0;
    }

    hr {
      border: 0;
      height: 1px;
      background-color: $medium-grey;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    table {
      max-width: 100%;
      text-align: left;
      overflow-x: scroll;

      th {
        color: $dark-grey;
        font-size: 14px;
        font-weight: normal;
      }

      tr {
        border-bottom: 1px solid $medium-grey;
        font-size: 14px;
      }

      th, td {
        padding: 15px;
      }
    }
  }
}

a {
  text-decoration: none;
  color: $light-blue;

  &:hover {
    text-decoration: underline;
  }
}

// Headings 

h1 {
  @include h2-style();
}
h2 {
  @include h2-style();
}
h3 {
  @include h3-style();
}
h4 {
  @include h4-style();
}
h5 {
  @include h5-style();
}
h6 {
  @include h6-style();
}

// Code Blocks
code {
  vertical-align: bottom;
}
