
// Colors

$c-white: #fff;
$c-black: #000;
$dark-blue: #173654;
$light-blue: #3d8fe0;
$gold: #f7bc38;
$light-grey: #f1efee;
$medium-grey: #ccc;
$dark-grey: #999;

// Layout

$block-padding: 40px;
$top-margin: $block-padding;
$top-padding: $block-padding;
$bottom-margin: $block-padding;
$bottom-padding: $block-padding;

$element-spacing: 20px;

// Typography

$font-1: 'MVB Solitaire', sans-serif;

// Media Queries

$bp-mobile:	"only screen and (max-width: 480px)";
$bp-tab-sm: "only screen and (max-width: 600px)";
$bp-tab:	"only screen and (max-width: 768px)";
$bp-desk:	"only screen and (max-width: 992px)";
$bp-desk-lg: "only screen and (max-width: 1200px)";
$bp-mobile-padding: "only screen and (max-width: 1240px)"; // $bp-desk-lg + mobile side padding

// Susy Settings (add as needed in base)

$gutter-position: after;
$container: 1200px;
$columns: 12;
$gutters: 1;
$box-sizing: border-box;