.site-footer {
	@extend .default-grid;
	background-color: $dark-blue;
	color: $light-blue;
	padding-top: 90px;
	padding-bottom: 90px;
	position: relative;

	.layout-content {
		margin-left: 400px;

		@media #{$bp-tab} {
			margin-left: 0;
		}
	}

	.scroll-top {
		float: right;
		width: 30px;
		height: 30px;
		background: url(../../image/Arrow-Up-Footer.svg) no-repeat center;
		background-size: 20px 10px;
	}

	.copyright {
		color: white;
		margin-bottom: 0;
		padding-top: 30px;
		border-top: 1px solid $light-blue;
		margin-top: 30px;
	}

	&::after {
		content: "";
		width:30vw;
		height: 100%;
		background-color: $dark-blue;
		position: absolute;
		top: 0;
		left: 100%;
	}

	@media #{$bp-tab} {
		padding-top: 45px;
		padding-bottom: 45px;
	
		&::after {
			display: none;
		}
	}
}