.site-header{
	@extend .default-grid;
	background: $c-white;

	.site-branding{
		margin:0px;
		padding:0;
		position: fixed;
		top:0;
		left:auto;
		height: 100px;
		background-color: $dark-blue;
		width: 300px;
		z-index: 3;

		&::before {
			content: "";
			background-color: $dark-blue;
			display: block;
			height: 100px;
			position: absolute;
			top: 0;
			right: 100%;
			width: 1000em;
		}

		@media #{$bp-tab} {
			position: static;
			margin-left: 40px;
			width: auto;
			padding-right: 20px;
			height: 70px;
			margin-right: -20px;

			&::before {
				display: none;
			}
		}
	}

	h1 {
		margin:0;

		a {
			margin-bottom: 0;
			padding: 0;
			line-height: 100px;
			font-size: 36px;
			color: white;

			img {
				margin-right: 10px;
			}

			&:hover {
				text-decoration: none;
			}
		}

		@media #{$bp-tab} {
			line-height: 70px;
			text-align: center;

			a {
				text-align: center;
				line-height: 70px;
			}
		}
	}

	.header-utilities {
		border-bottom: 1px solid $medium-grey;
		height: 100px;
		position: relative;
		margin-left: 300px;

		&::after {
			content: "";
			height: 1px;
			background-color: $medium-grey;
			position: absolute;
			left: 100%;
			bottom: -1px;
			width: 50vw;
		}

		@media #{$bp-desk-lg} {
			&::after {
				display: none;
			}
		}

		.breadcrumbs {
	    margin-top: 35px;
	    padding-left: 40px;
	    width: 100%;
	    padding-right: 390px;
	    overflow: hidden;
	    height: 30px;
	    display: inline-block;

			.bc-home {
				display: inline-block;

				a {
					width: 30px;
					height: 30px;
					background: url(../../image/Home.svg) no-repeat center;
					background-size: 20px;
					display: inline-block;
					vertical-align: top;
				}
			}

			.bc-item {
				display: inline-block;
				margin-left: 30px;
				position: relative;
				color: $dark-grey;
				font-size: 14px;

				a {
					color: $dark-grey;
					font-size: 14px;

					&:hover {
						text-decoration: underline;
					}
				}

				&::before {
					content: "";
					width: 8px;
					height: 12px;
					background: url(../../image/Arrow-Header-Right.svg) no-repeat;
					background-size: 8px 12px;
					position: absolute;
					top: 10px;
					left: -15px;
				}
			}

			@media #{$bp-tab} {
				display: none;
			}
		}

		.controls {
	    position: absolute;
	    right: 0;
	    top: 0;
		}

		@media #{$bp-tab} {
			padding-left: 0;
			padding-right: 0;
			margin: 0;
			height: auto;
			display: block;
			border-bottom: 0;

			.controls {
				position: static;
				text-align: center;

				#language-toggle {
					margin-left: 0;
				}
			}
		}
	}

	#language-toggle {
		margin: 33px 10px 0;
		font-size: 14px;
		color: $dark-grey;
		display: inline-block;

		.switch {
		  position: relative;
		  display: inline-block;
		  cursor: pointer;
		  width: 28px;
		  height: 16px;
		  border-radius: 15px;
		  border: 1px solid $medium-grey;
		  top: 3px;
		}

		input {
			display: none;
		}

		.slider {
			&::before {
			  position: absolute;
			  content: "";
			  height: 8px;
			  width: 8px;
			  left: 4px;
			  bottom: 3px;
			  background-color: $light-blue;
			  -webkit-transition: .4s;
			  transition: .4s;
			  border-radius: 50%;
			}
		}

		input:checked + .slider::before {
			left: 14px;
		}
	}

	.search-form {
		width: 200px;
		height: 40px;
		border-radius: 20px;
		border: 1px solid $medium-grey;
		padding: 5px 10px;
		position: relative;
		display: inline-block;
		margin-left: 20px;
		margin-top: 30px;
		text-align: left;

		label {
			padding-left: 5px;
		}

		input[type='search'] {
			border: 0;
			width: 150px;
			padding: 0;
			margin: 0;

			&:focus {
				border-bottom: 1px solid $light-grey;
				outline: 0;
			}
		}

		input[type='submit'] {
			border: 0;
			background: url(../../image/Magnifying-Glass.svg);
			background-size: 15px;
			width: 15px;
			height: 15px;
			padding: 0;
			margin: 0;
			position: absolute;
			top: 12px;
			right: 15px;
			font-size: 0;
		}

		@media #{$bp-mobile} {
			margin-left: 0;
		}
	}
}

.alert {
	background-color: $gold;

	.layout-wrap {
		@extend .default-grid;
	}

	p {
		margin-bottom: 0;
	}

	.content {
		margin-left: 300px;
		background-color: $gold;
		padding: 20px 40px;
		position: relative;
		color: $dark-blue;

		.close {
			width: 20px;
			height: 20px;
			background: url(../../image/X-Cancel.svg);
			background-size: 20px;
			position: absolute;
			top: 25px;
			right: 20px;
			cursor: pointer;
		}

		&::after {
			content: "";
			display: block;
			height: 100%;
			position: absolute;
			left: 100%;
			top: 0;
			background-color: $gold;
		}
	}

	@media #{$bp-tab} {
		.content {
			margin: 0;
			padding-left: 0;
			padding-right: 20px;

			.close {
				right: 0;
			}
		}
	}
}
