.block-menu {
  position: fixed;
  width: 300px;
  z-index: 2;
  top: 0;
  left: auto;
  background-color: $light-grey;

  &::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    height: 100%;
    width: 50vw;
    background-color: $light-grey;
  }

  .layout-content {
    overflow-y: scroll;
    overflow-x: visible;
    height: 100vh;
    padding-top: 100px;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
      position: relative;
      z-index: 1000;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
      position: relative;
      z-index: 1000;
    }

    &::after {
      content: "";
      height: 100%;
      width: 8px;
      display: block;
      position: absolute;
      top: 0;
      right:0;

      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.1+100 */
      background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=1 ); /* IE6-9 */
    }
  }

  ul {
    color: $light-blue;
    list-style: none;
    position: relative;

    li {
      border-bottom: 1px solid $medium-grey;
      position: relative;
      border-left: 3px solid transparent;
      transition: .25s;
      -webkit-transition: .25s;
      -webkit-transition-delay: .25s;
              transition-delay: .25s;
      padding-right: 60px;

      .menu-btn {
        margin: 0;
        position: absolute;
        top: 14px;
        right: 15px;
        width: 30px;
        height: 30px;

        &::after, &::before {
          content: "";
          width: 16px;
          height: 1px;
          display: block;
          background-color: $dark-grey;
          transition: .25s;
          -webkit-transition: .25s;
          position: absolute;
          top: 10px;
          z-index: 1;
        }

        &::before {
                  transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
        }

        &::after {
                  transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
        }
      }

      &.menu-open, &.active {
        background-color: white;
        border-left: 3px solid $gold;
        transition: .25s;
        -webkit-transition: .25s;

        > a {
          color: black;
          transition: .25s;
          -webkit-transition: .25s;
        }

        .active {
          border-left: 0;
        }
      }

      &.menu-open {
        .menu-btn {
          &::after {
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
            transition: .25s;
            -webkit-transition: .25s;
          }
        }
      }

      a {
        padding: 15px 0;
        display: inline-block;
        transition: .25s;
        -webkit-transition: .25s;
        position: relative;
        text-decoration: none;
        z-index: 1;
        font-size: 15px;
        line-height: 20px;
      }

      > a {
        margin: 0 0 0 15px;
      }

      &:hover > {
        a:not(.menu-btn) {
          color: black;
          text-decoration: underline;
        }
      }

      ul {
        margin-bottom: 0;
        background-color: white;
        display: none;

        li {
          border-bottom: 0;
          padding-left: 15px;
          padding-right: 15px;

          &:hover a {
            color: black;
          }          
        }
      }
    }
  }

  .mob-menu-btn {
    top: 15px;
    right: 15px;
    background: url(../../image/X-Cancel.svg) no-repeat center center;
    background-size: 15px;
    padding: 20px 0;
    width: 100%;
    display: none;

    @media #{$bp-tab} {
      display: block;
    }
  }

  &::after {
    content: "";
    position: absolue;
    left:100%;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .5;
    display: none;
  }

  @media #{$bp-tab} {
    width: 300px;
    left: -300px;
    transition: .25s;
    -webkit-transition: .25s;
    padding-top: 0;

    .layout-content {
      padding-top: 0px;

      &::after {
        display: none;
      }
    }

    > ul {
      li:first-of-type {
        border-top: 1px solid $medium-grey;
      }
    }
  }
}

.site-header {
  
  .btn-wrap {
    background-color: #10253b;
    margin-left: -20px;
    float: left;
    width: 60px;
    height: 70px;
  }

  .mob-menu-btn {
    display: none;

    @media #{$bp-tab} {
      display: block;
      width: 60px;
      height: 70px;
      background: url(../../image/menu.svg) no-repeat center;
      background-size: 20px 15px;
      cursor: pointer;
    }
  }
}