.archive, .error404, .search, .blog {
	.post-wrapper {
		margin-left: 400px;
		margin-top: $block-padding;

		section, h1 {
			padding-bottom: $block-padding;
			border-bottom: 1px solid $medium-grey;
			margin-bottom: $block-padding;
		}

		a {
			color: $dark-blue;
		}

		h4 {
			margin-bottom: $block-padding;
		}

		@media #{$bp-tab} {
			margin-left: 0;
		}
	}
}

.search {
	.page-header {
		margin-left: 400px;
		margin-top: $block-padding;

		@media #{$bp-tab} {
			margin-left: 0;
		}
	}

	article.page {
		margin-left: 0;
	}

	h2 {
		@include h5-style();
	}
}