.page {
	.entry-header {
		max-height: 450px;
		position: relative;

		@media #{$bp-desk-lg} {
			overflow-x: hidden;
		}

		img {
			width: auto;
			display: block;

			@media #{$bp-mobile} {
				height: auto;
				max-width: 100%;
			}
		}

		.header-meta {
			padding-left: 100px;
			@include vertical-align($position: absolute);
			z-index: 1;

			.entry-title {
				color: white;
				margin-bottom: 10px;
				line-height: 1;

				@media #{$bp-mobile} {
					font-size: 34px;
				}
			}

			span {
				color: white;
			}

			@media #{$bp-tab} {
				padding-left: 20px;
				padding-right: 20px;
				width: 100%;
				text-align: center;
			}
		}

		&::after {
			content: "";
			height: 100%;
			width: 50vw;
			position: absolute;
			left: 100%;
			background-color: $dark-blue;
			top: 0;
		}

		@media #{$bp-mobile} {
			height: auto;
		}
	}

	.files-and-links {
		padding: 40px 0 20px;
		border-bottom: 1px solid $medium-grey;
		margin-bottom: $block-padding;

		ul {
			list-style: none;
			margin: 0;

			li {
				display: inline-block;
				margin-bottom: $block-padding/2;

				a {
					display: inline-block;
					padding-left: 40px;
					margin-right: 50px;
				}
			}

			.file {
				background: url(../../image/PDF.svg) no-repeat left center;
				background-size: 26px 32px;
			}

			.page {
				background: url(../../image/Arrow-Right-Call-Out.svg) no-repeat left center;
				background-size: 10px 20px;
			}
		}
	}
}