.single {
	.entry-header {
		margin-top: $block-padding;
		position: relative;
		margin-bottom: $block-padding;
		margin-left: 400px;

		img {
			width: 100%;
			height: auto;
			margin-bottom: 0;
			display: block;
		}

		.header-meta {

			.entry-title {
				margin-bottom: $block-padding;
				line-height: 1;
			}

			span {
				@include h6-style();
			}
		}

		@media #{$bp-tab} {
			margin-left: 0;
			margin-right: 0;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	article.post {
		margin-left: 400px;
		margin-bottom: $block-padding;

		@media #{$bp-tab} {
			margin-left: 0;
		}
	}
}