.block-accordion {

  .layout-content {
    margin-left: 400px;
    margin-top: $block-padding;
    margin-bottom: $block-padding;

    @media #{$bp-tab} {
      margin-left: 0;
    }
  }

  h3 {
  }

  .accordion-wrapper {

    .accordion-content {
    }

    .accordion {
      border-bottom: 2px solid $light-grey;
      margin-top: 0;

      dt {
        position: relative;
        padding: 30px 40px;
        border-top: 2px solid $light-grey;

        a {
          text-decoration: none;

          &.icon {
            padding: 15px;
            position: absolute;
            top: 30px;
            right: 20px;

            &::before {
              position: relative;
              top: 2px;
            }

            &::after, &::before {
              content: "";
              width: 25px;
              height: 2px;
              display: block;
              background-color: $dark-grey;
              transition: .25s;
              -webkit-transition: .25s;
              z-index: 1;
            }

            &::before {
                      transform: rotate(0deg);
              -webkit-transform: rotate(0deg);
            }

            &::after {
                      transform: rotate(90deg);
              -webkit-transform: rotate(90deg);
            }
          }
        }

        &.active {
          a.icon {
            &::after {
              -webkit-transform: rotate(0deg);
                      transform: rotate(0deg);
              transition: .25s;
              -webkit-transition: .25s;
            }
          }
        }
      }

      dd {
        margin: 0;
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }

  @media #{$bp-tab} {

    .layout-content {
      margin-left: 0;
    }

    h3 {
      @include span(12);
      text-align: center;
    }

    .accordion-wrapper {
      @include span(12);
    }
  }

  @media #{$bp-mobile} {
    .accordion-wrapper {
      .accordion {
        dt, dd {
          padding-left: 20px;
          padding-right: 20px;
        }

        dt {
          svg {
            right: 20px;
          }
        }
      }
    }
  }
}

